#container {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
}

#text {
    margin: 0;
    font-size: 16px;
}

#toggleButton {
    margin-top:10px;
}